<html>
	<head></head>
	<body>
		<div id="app"></div>
		<script type="text/javascript" src="./v.js"></script>
		<script type="text/javascript">
			var templateStr = `
				dsadsadsa
				{{if a === 1}}
					(a is 1)
					<div>
					x
					{{if true}}
						<span>xxx</span>
					{{/if}}
					{{each items as item}}
						<{{=item}}>
					{{/each}}
					x
					</div>
				{{else if a === 2}}
					(a is 2)
					x{{c | x: 'YYYY-MM-dd' | y | z}}x
				{{/if}}
				dasdas
			`;

			v.filter('z', function( str ) {
				return str.toUpperCase();
			})

			console.log( 'templateStr' );
			console.log( templateStr );

			var render = v.compile( templateStr );

			var rendered = render({
				a: 2,
				c: 'abc',
				items: [6,7,'<a href="javascript:;">link</a>']
			});

			console.log( 'rendered' );
			console.log( rendered );

			app.innerHTML = rendered;
		</script>
	</body>
</html>
